

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Cousine", monospace;
}

img {max-width: 100%;}

:root {
    --rockets-clr: #cf083f
}

:root {
    --wizards-clr: #002b5c
}


.section1__container{
    padding: 3rem;

    background: url(images/section1/section1_background.jpg) center center no-repeat fixed;
    background-size: cover;
    background-color: var(--rockets-clr);

}

.section1__countdown {
    border: 4px double var(--rockets-clr);
    border-radius: 0;
    padding: 1rem;

    background-color: black;


    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: white 1px 0 10px;
}

.section1__logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section1__logo {
    width: 25%;
}

.section1__info { 
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.section1__info__heading {
    font-size: 2.5rem;
    font-weight: 600;
}

.section1__link {
    border: 2px solid black;
    border-radius: 999px;
    padding: .75rem;

    background-color: var(--rockets-clr);

    text-align: center;
    color: white;
    text-decoration: none;
}

/* 
    media query for responsive background image
    on smaller screen sizes
*/

@media (max-width: 800px) {
    .section1__container {
        background: url(images/section1/section1_background-800w.jpg) center center no-repeat fixed;
        background-size: cover;
        background-color: var(--rockets-clr);
    }
}

/* end of section 1 styling, section 2 below */


.section2__container {
    padding: 3rem;

    background: url(images/section2/section2_background.jpg) center center no-repeat fixed;
    background-size: cover;
    background-color: var(--rockets-clr);
}

.section2__header{
    text-align: center;
    color: white;
}

.card {
    padding: 1rem;
    border: 4px double white;
    border-radius: 8px;
    margin-bottom: 10%;
}

.card1, .card2 {
    color: white;
}

.card__header{
    text-align: center;
}

.card__statLeader {
    display: flex;
    justify-content: space-between;
    gap: 20%;

    text-align: center;
}

.statLeader__image__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.statleader__stat {
    margin: auto auto;
    width: 40%;

    font-size: 1.5rem;
}

/* 
    media query for responsive background image
    on smaller screen sizes
*/

@media (max-width: 800px) {
    .section2__container {
    
        background: url(images/section2/section2_background800w.jpg) center center no-repeat fixed;
        background-size: cover;
        background-color: var(--rockets-clr);
    }
    
}

/* end of section 2 styling, section 3 below */


.section3__container {
    padding: 3rem;

    background: url(images/section3/section3_background.jpg) center center no-repeat fixed;
    background-size: cover;

    font-size: 1.5rem;
    text-align: center;
}

.section3__notes1 {
    color: var(--rockets-clr);
}

.section3__notes2 {
    color: var(--wizards-clr);
}


/* 
    media query for responsive background image
    on smaller screen sizes
*/

@media (max-width: 800px) {

    .section3__container {
        background: url(images/section3/section3_background800w.jpg) center center no-repeat fixed;
        background-size: cover;
    }

}